.hero__title {
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
}
.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
